<main>
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Familia Cristiana</h1>
      <h3 class="fw-normal text-muted mb-3">Encontrá todas las herramientas de campaña</h3>
     <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="icon-link" id="masinfo" href="#">
          Vea mas info.
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
        {{!-- <a class="icon-link" href="#">
          Buy
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a> --}}
      </div> 
    </div>
    <!-- <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
  </div>

    <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Devocionales</h2>

        <div class="audio-player">
           <p class="text-start">devocional n•9: UN MINUTO, 1 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio9.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>


        
          <div class="audio-player">
           <p class="text-start">devocional n•8: SOBRE ALAS DE AGUILA, 30 de septiembre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio8.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>
        <div class="audio-player">
           <p class="text-start">devocional n•7: MIRÁ POR LA VENTANA, 29 de septiembre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio7.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>
         {{!-- <p class="text-start">
           <a class="icon-link text-start" id="devocionales" href="#">
        Escucha devocionales anteriores
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
        </p> --}}
             <p class="text-start">
       <button type="button"  class="btn btn-lg btn-primary btn-block shadow-lg " style="background-color: #808080; border-color: #808080;" id="devocionales" >
         <i class="bi bi-music-note-beamed me-2"></i>
         Pulsá acá para escuchar mas devocionales
       </button>

       {{!-- <style>
    
       </style>

        
       <a class="icon-link" href="#">
         Escuchar canciones anteriores
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a> --}}
        </p>
               {{!-- <div class="audio-player">
           <p class="text-start">Prueba audio drive</p>
          <audio id="audio" controls>
            <source src="https://fuchsia-immense-tapir-146.mypinata.cloud/ipfs/QmaVzDzt7HFsBJpn3YmosHkZximRhtkCCUWxvDE3ZYkpqn" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
        </div> --}}
        {{!-- <p class="lead">Josue 1:1-18 </p> --}}
      </div>
    </div><!--
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Predicaciones</h2>
        <p class="lead">Mirá el material que acompaña la predicaciones durante la campaña Revivir</p>
        <button href="#" class="btn btn-secondary mt-3" id="predicacionDomingo">
          Predicación Domingo 9 de septiembre 2024
        </button>
      </div>
    </div>-->
  </div>
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    {{!-- <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Audios</h2>
        <p class="lead">Escucha los devocionales de la campaña Revivir</p>
      </div>
    </div> --}}
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Canciones</h2>
        <p class="lead">Escucha las canciones de la campaña Revivir</p>
          <a href="https://www.youtube.com/watch?v=WyGyxhCvROQ" target="_blank" rel="noopener noreferrer">
          <p class="text-start">Todo nuevo (All Things New | Over It All | Planetshakers)</p></a>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/WyGyxhCvROQ?si=4-aOomxaEDa6Jqhs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
       
       
        <a href="https://www.youtube.com/watch?v=IxD3JiOo9DY" target="_blank" rel="noopener noreferrer">
          <p class="text-start">Barak - Mi Gozo (Video Oficial)</p>
         <img width="auto" height="315" src="assets/img/canciones/miGozo.png"</img></a>

         
       
 

<a href="https://www.youtube.com/watch?v=PZ80mblbzss" target="_blank" rel="noopener noreferrer">
          <p class="text-start">"LOS MUROS CAERÁN" - Album Proezas - Miel San Marcos</p></a>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/PZ80mblbzss?si=7IRsuf_pSqYebyU-" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        


        <a href="https://www.youtube.com/watch?v=cNbgMFoDcsI" target="_blank" rel="noopener noreferrer">
          <p class="text-start">Vanessa Vissepo - Tu Gran Nombre</p></a>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/cNbgMFoDcsI?si=lpi7xxfQpnmYvPrF" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
       
         <a href="https://www.youtube.com/watch?si=hRN7UOuWbC4yxXT-&v=Ets8eCkF-yY&feature=youtu.be" target="_blank" rel="noopener noreferrer">
          <p class="text-start">Que Ruja El León / ¿Quien Podrá? / El Fuego De Tus Ojos (En Vivo)</p></a>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/Ets8eCkF-yY?si=6xGNqukooOKWtbMk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        
   <a href="https://www.youtube.com/watch?v=NVtVI4bd0qU" target="_blank" rel="noopener noreferrer">
          <p class="text-start">Fiesta (En Vivo)</p></a>
        <iframe width="100%" height="315" src="https://www.youtube.com/embed/NVtVI4bd0qU?si=VPSFE27G2ZMDIR9d" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        





      </div>
       <p class="text-start">
       <button type="button"  id="canciones" class="btn btn-lg btn-primary btn-block shadow-lg pulse-animation" style="background-color: #808080; border-color: #808080;">
         <i class="bi bi-music-note-beamed me-2"></i>
         Pulsá acá para escuchar mas canciones
       </button>

       {{!-- <style>
    
       </style>

        
       <a class="icon-link" href="#">
         Escuchar canciones anteriores
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a> --}}
        </p>
    </div>
  </div>

  


  <!-- <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-dark shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="text-bg-primary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div>

  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
    <div class="bg-body-tertiary me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Another headline</h2>
        <p class="lead">And an even wittier subheading.</p>
      </div>
      <div class="bg-body shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
    </div>
  </div> -->
</main>
