<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <h1 class="display-3 fw-bold">Campaña Revivir</h1>
      <h3 class="fw-normal text-muted mb-3">Date una oportunidad</h3>
     <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <a class="icon-link" id="atras" href="#">
          atras.
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a>
        {{!-- <a class="icon-link" href="#">
          Buy
          <svg class="bi"><use xlink:href="#chevron-right"/></svg>
        </a> --}}
      </div> 
    </div>
    <!-- <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div> -->
  </div>
   <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
    {{!-- <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Audios</h2>
        <p class="lead">Escucha los devocionales de la campaña Revivir</p>
      </div>
    </div> --}}
    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Escucha los devocionales de la campaña Revivir</h2>

<div class="audio-player">
           <p class="text-start">devocional n•28: DISCIPULOS SIN CULPA, 20 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio28.mp3" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>     
  

        

     <div class="audio-player">
           <p class="text-start">devocional n•27: REDES EN LO PROFUNDO, 19 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio27.mp3" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>     




              <div class="audio-player">
           <p class="text-start">devocional n•26: TIEMPO DE ACTUAR, 18 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio26.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>

        <div class="audio-player">
           <p class="text-start">devocional n•24: BUENA RESPUESTA, 16 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio24.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>


<div class="audio-player">
           <p class="text-start">devocional n•23: PROCESOS EN EL CAMINO, 15 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio23.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>


<div class="audio-player">
           <p class="text-start">devocional n•22: PARARSE FRENTE AL MILAGRO, 14 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio22.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>

        
<div class="audio-player">
           <p class="text-start">devocional n•21: EL MILAGRO, 13 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio21.mp3" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>



<div class="audio-player">
           <p class="text-start">devocional n•20: SIN VUELTAS, 12 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio20.mp3" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>
<div class="audio-player">
           <p class="text-start">devocional n•19: ENTREGA Y CONFIA, 11 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio19.mp3" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>

        
<div class="audio-player">
           <p class="text-start">devocional n•18: ESPECIALISTA EN LíMITES, 10 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio18.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>
        
 <div class="audio-player">
           <p class="text-start">devocional n•16: PERSISTENTE, 8 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio16.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>



        
 <div class="audio-player">
           <p class="text-start">devocional n•15: HASTA EL FINAL, 7 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio15.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>

  <div class="audio-player">
           <p class="text-start">devocional n•13:, 5 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio13.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>

        
       <div class="audio-player">
           <p class="text-start">devocional n•12: YO Y SOLO YO, 4 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio12.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>




        
              <div class="audio-player">
           <p class="text-start">devocional n•11: SALVACIÓN, 3 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio11.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>



        
        <div class="audio-player">
           <p class="text-start">devocional n•10: SALMO 139, 2 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio10.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>

        
        <div class="audio-player">
           <p class="text-start">devocional n•9: UN MINUTO, 1 de octubre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio9.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>


        
          <div class="audio-player">
           <p class="text-start">devocional n•8: SOBRE ALAS DE AGUILA, 30 de septiembre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio8.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>
        <div class="audio-player">
           <p class="text-start">devocional n•7: MIRÁ POR LA VENTANA, 29 de septiembre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio7.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
         </div>





          
             <div class="audio-player">
           <p class="text-start">devocional n•6: LA MISMA PUERTA, 28 de septiembre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio6.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
        </div>
         <div class="audio-player">
           <p class="text-start">devocional n•5: ALGO MÁS, 27 de septiembre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio5.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
        </div>
        <div class="audio-player">
           <p class="text-start">devocional n•4: EL PODER DE LA PALABRA, 26 de septiembre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio4.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
        </div>
         <div class="audio-player">
           <p class="text-start">devocional n•3: LA BRÚJULA, 25 de septiembre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio3.mp3" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
        </div>
        <div class="audio-player">
           <p class="text-start">devocional n•2: ENFOQUE, 24 de septiembre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio2.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
        </div>
        <div class="audio-player">
           <p class="text-start">devocional n•1:, 23 de septiembre 2024</p>
          <audio id="audio" controls>
            <source src="assets/audio/audio1.mpeg" type="audio/mpeg">
            Tu navegador no soporta el elemento de audio.
          </audio>
        </div>
      </div>
    </div>
  </div>


</main>
